name: Daily News Crawler & Loader

on:
  push:
    branches: [ "Dev"] 
  schedule:
    - cron: '0 14 * * *'
  workflow_dispatch:

jobs:
  crawl-and-load:
    runs-on: self-hosted

    env:
      MYSQL_HOST: ${{ secrets.MYSQL_HOST }}
      MYSQL_PORT: ${{ secrets.MYSQL_PORT }}
      MYSQL_USER: ${{ secrets.MYSQL_USER }}
      MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
      PYTHONIOENCODING: "utf-8"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if (Test-Path requirements.txt) { pip install -r requirements.txt }
          pip install pyvi
      
      - name: Run Web Scraper
        run: |
          $env:PYTHONPATH = $env:PYTHONPATH + ";" + (Get-Location).Path
          python src/extract/web_scraper.py

      - name: Run Staging Loader
        run: |
          $env:PYTHONPATH = $env:PYTHONPATH + ";" + (Get-Location).Path
          python src/load_and_transform/load_staging.py

      - name: Run Transform Stagging
        run: |
          $env:PYTHONPATH = $env:PYTHONPATH + ";" + (Get-Location).Path
          python src/load_and_transform/transform_staging.py

      - name: Run Load to Stagging Delta
        run: |
          $env:PYTHONPATH = $env:PYTHONPATH + ";" + (Get-Location).Path
          python src/load_to_staging_delta/load_to_staging_delta.py

      - name: Run Export Staging
        run: |
          $env:PYTHONPATH = $env:PYTHONPATH + ";" + (Get-Location).Path
          python src/export_staging/export_staging.py

      - name: Run Load to DW
        run: |
          $env:PYTHONPATH = $env:PYTHONPATH + ";" + (Get-Location).Path
          python src/load_to_warehouse/load_to_dwh.py
      
      - name: Run Arrgegate to CSV
        run: |
          $env:PYTHONPATH = $env:PYTHONPATH + ";" + (Get-Location).Path
          python src/aggregate/aggregate_to_csv.py

      - name: Run Load to Mart
        run: |
          $env:PYTHONPATH = $env:PYTHONPATH + ";" + (Get-Location).Path
          python src/load_to_mart/load_to_mart.py

      - name: Upload Crawled Data (Artifact)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: crawled-csv-files
          path: source/
          retention-days: 1